<html>
    <head>
        <title>Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="">Haly's first blog at Django Girls</a></h1>
        </div>

        <div>
            <p>published: 23.04.2016, 12:14</p>
            <h2><a href="">Post #1</a></h2>
            <p>Will I succeed today or not?</p>
            <em>Academic achievement or (academic) performance is the outcome of education — the extent to which a student, teacher or institution has achieved their educational goals.

Academic achievement is commonly measured by examinations or continuous assessment but there is no general agreement on how it is best tested or which aspects are most important — procedural knowledge such as skills or declarative knowledge such as facts.</em>
        </div>

        <div>

            <h2><a href="">Post #2</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html
